<%= form_tag("/rooms/check_availability", method: "post", id: 'rooms-availability', remote: true) do %>

  <div class="row">
    <div class="col-sm-3 form-group">
      <label><span style="color: red">* </span>Check in</label>
      <input type="date" name="check_in" class="form-control datepicker" required>
    </div>
    <div class="col-sm-3 form-group">
      <label><span style="color: red">* </span>Check out</label>
      <input type="date" name="check_out" class="form-control datepicker" required>
    </div>
    <div class="col-sm-3 form-group">
      <label>Room Type</label>
      <select name="room_type" id="room" class="form-control">
        <option value="">Select Room Type</option>
        <option value="Deluxe Rooms">Deluxe Rooms</option>
        <option value="Luxury Rooms">Luxury Rooms </option>
        <option value="Luxury suites">Luxury suites</option>
        <option value="Presidential Suites">Presidential Suites</option>
      </select>
    </div>
    <div class="col-sm-3 form-group">
      <br>
      <button type="submit" class="btn btn-default">check</button>
    </div>
  </div>
<%end %>
