<footer class="black-wrapper">
  <div class="subfooter">
    <div class="container">
      <div class="pull-left">
        <h4>NeoHotel</h1>
        <p class="pull-left">www.neoHotel.hotel.com</p>
      </div>
    </div>
  </div>
</footer>